
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0%;
    padding: 1%;
}

.header, img, .footer, .indicators {
    margin-right: auto;
    margin-left: auto;
    margin-top: 1%;
}

h2 {
    margin-left: 33%;
}

button {
    opacity: 20%;
}
